html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

#body {
    background-color: #555555;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 0.26vw solid #2A2A2A;
    border-radius: 0;
    transition: all 0.3s ease;
    background-color: #2E2E2E;
    color: #E0E0E0;
    padding: 0.5vw; 
    text-align: center;
}

.navbar:hover {
    border-radius: 1.4vw;
    border-width: 0.3vw;
    padding: 0.78vw;
    border-color: #4A90E2;
    background-color: #383838;
}

.nav_title {
    display: inline-block;
    margin-left: 1.3vw;
    font-size: 1.56vw;
    font-weight: bold;
    background-color: #1F1F1F;
    padding: 0.52vw;
    border: 0.26vw solid #3B82F6;
    border-radius: 0.52vw;
    color: #A6C8FF;
    text-shadow: 0 0 1vw #3B82F6AA;
}

.nav_links {
    display: inline-block;
    margin-right: 1.3vw;
    font-size: 1.56vw;
    font-weight: bold;
    text-align: right;
    color: #C8D6E5;
}

.nav_links a {
    color: #C8D6E5;
    text-decoration: none;
    padding: 0.52vw 1.04vw;
    border-radius: 0.26vw;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav_links a:hover {
    background-color: #3B82F6;
    border: 0.26vw solid #2B6CB0;
    border-radius: 0.52vw;
    color: white;
    text-decoration: underline;
}



.GaliRecommendation {
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 85vw;
    border: 0.26vw solid #404040;
    border-radius: 1vw;
    padding: 1.5vw;
    background-color: #4A4A4A;
    margin-top: 3vw;
    margin-left: 5.75vw;
    margin-bottom: 5vw;
    transition: all 0.3s ease;
}
.SuggestForm button {
    display: inline-block;
    color: white;   
    font-size: 2vw;
    font-weight: bold;
    background-color: #404040;
    padding: 0.25vw;
    border-radius: 0.52vw;
    transition: all 0.3s ease;
}
.SuggestForm button:hover {
    background-color: #2C2C2C;
    text-decoration: underline;
    border-radius: 1vw;
    padding: 0.25vw;
    cursor: pointer;
}
#suggestion_output {
  display: flex;
  min-width: 21.96vw;          
  padding: 0.78vw;
  background-color: #404040;
  border: 0.26vw solid #3B3B3B;
  border-radius: 0.52vw;    
  color: white;
  font-weight: bold;
  font-size: 1.4vw;
  word-wrap: break-word;
  overflow-wrap: break-word;
  min-height: 2vw;
  margin-top: 2vw;
}





.AutoGali {
    display: flex;
    color: white;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    height: 100%;
    margin-top: 2vw;
    margin-left: 5.75vw;
    width: 85vw;
    border: 0.26vw solid #404040;
    border-radius: 1vw;
    padding: 1.5vw;
    background-color: #4A4A4A;
}

.anger_form input, .anger_form textarea {
    display: inline-block;
    resize: none;
    color: white;
    font-size: 1.4vw;
    font-weight: bold;
    word-wrap: break-word;
    overflow-wrap: break-word;
    width: 82vw;
    padding: 0.78vw;
    margin-top: 0.25vw;
    margin-bottom: 2vw;
    background-color: #404040;
    border: 0.26vw solid #3B3B3B;
    border-radius: 0.52vw;
}

.anger_form label {
    color: white;
    font-size: 1.4vw;
}

.anger_form button {
    display: inline-block;
    color: white;   
    font-size: 1.56vw;
    font-weight: bold;
    background-color: #404040;
    padding: 0.25vw;
    border-radius: 0.52vw;
    transition: all 0.3s ease;
}

.anger_form button:hover {
    background-color: #2C2C2C;
    text-decoration: underline;
    border-radius: 1vw;
    padding: 0.25vw;
    cursor: pointer;
}



.output_container {
  display: flex;
  align-items: flex-start;   
  gap: 1vw;                  
  flex-wrap: wrap;           
  margin-top: 2vw;
}

#gali_output {
  flex: 1 1 60vw;          
  min-width: 21.96vw;          
  padding: 0.78vw;
  background-color: #404040;
  border: 0.26vw solid #3B3B3B;
  border-radius: 0.52vw;
  color: white;
  font-weight: bold;
  font-size: 1.4vw;
  word-wrap: break-word;
  overflow-wrap: break-word;
  min-height: 15vw;
}
.qr_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 12vw;
}


#qr_output {
  flex: 0 0 10vw;           
  min-width: 12vw;           
  min-height: 12vw;
  margin-top: 0;             
  border: 0.26vw solid #3B3B3B;
  padding: 01.5vw 1.5vw;
  border-radius: 0.52vw;
  background-color: #404040;
  display: flex;
  justify-content: center;
  align-items: center;
}

#qr_output img {
  max-width: 110%;
  max-height: 110%;
  display: block;
  margin-top: -0.5vw;
  padding: 0;
}
#qr_text {
  color: white;
  font-size: 1.4vw;
  font-weight: bold;
  text-align: center;
  margin-top: 0.5vw;
}



.index_footer {
    bottom: 0;
    background-color: #f0f0f0; 
    border: 0.26vw solid #404040;
    margin-top: 2vw;
    border-radius: 1vw;
    text-align: center;
    padding: 0.26vw 0;
}


.back_to_top {
    position: fixed;
    width: 3.9vw;
    height: 3.9vw;
    bottom: 0.5vw;
    right: 0.25vw;
    padding: 0.3vw;
    border-radius: 0.52vw;
    transition: all 0.3s ease;
}

.back_to_top:hover {
    background-color: #404040;
    color: white;
}







.about {
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
    font-size: 3vw;
    font-weight: bold;
    height: 100%;
    width: 85vw;
    border: 0.26vw solid #404040;
    border-radius: 1vw;
    padding: 1.5vw;
    background-color: #4A4A4A;
    margin-top: 3vw;
    margin-left: 5.75vw;
    margin-bottom: 5vw;
    transition: all 0.3s ease;
}
.about:hover {
    background-color: #383838; 
    color: #A6C8FF;           
    box-shadow: 0 0 2vw 2vw #000000; 
    border-color: transparent; 
}


.about_footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f0f0f0; 
    border: 0.26vw solid #404040;
    border-radius: 1vw;
    text-align: center;
    padding: 0.26vw 0;
}